body {
    background: #000014;

}

h1 {
  color: #FFF;
-webkit-text-stroke-width: 4px;
-webkit-text-stroke-color: #8958FF;
font-family: "Jolly Lodger";
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
align-items: center;
justify-content: center;
}

.grid-container {
    display: grid;
   
    grid-template-columns: repeat(6, 100px);

    gap: 21px;

 
    justify-content: center;
    margin: 0 auto;

   
}

.card {
    
    width: 100px;
    height: 120px; /* Use as dimensões que você queria antes */
    border-radius: 12px;
    background: #FFE3BD;
    
  
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.card img {
    /* Garante que a imagem não seja maior que a carta */
    max-width: 90%;
    max-height: 90%;
}

.cardroxo{
background-color: #8958FF;
display: flex;
justify-content: center;
align-items: center;
color: #FFF;
color: #FFF;
text-align: center;
font-family: "Jolly Lodger";
 border-radius: 12px;
font-size: 35px;


}


