*{

}
body{
background: #000014;
}
h1{

    display: flex;

    justify-content: center;
color: #FFF;
-webkit-text-stroke-width: 4px;
-webkit-text-stroke-color: #8958FF;
font-family: "Jolly Lodger";
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.cartas{
    width: 176px;
height: 176px;
border-radius: 12px;
background: #FFE3BD;
display: flex;
justify-content: center;
align-items: center;

}

